# game data and dumps never go into the repository
/game/
/dump/
out/
extracted/
build/
Build/
/dist/
/.deps/
.DS_Store

*.pkg
*.bin
!/third_party/texture_models/realesr-general-x4v3-x2.bin
*.elf
*.self
*.oelf
*.prx
*.sprx
*.qar
*.dat
*.sfo
*.at9
*.fpk
*.fpkd
*.ftex
*.ftexs
*.fmdl
*.fox2
*.sbp
*.bnk
*.wem

__pycache__/
*.pyc
pt.log
pt_imgui.ini
installer/*/bin/
installer/*/obj/
